$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1310;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

body {
  color: #1f2432;

  @media (max-width: #{$md1+px}) {
    font-size: 1rem;
  }
  @media (max-width: #{$md2+px}) {
    font-size: 0.8rem;
  }
  @media (max-width: #{$md3+px}) {
    font-size: 0.7rem;
  }
  @media (max-width: #{$md4+px}) {
    font-size: 0.5rem;
  }
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  border-radius: 10px;
  border-style: solid;
  padding: 20px 20px 5% 20px;
  border-color: black;
  max-height: 100%;
  min-height: 600px;

  @media (max-width: #{$md1+px}) {
    max-width: 970px;
  }
  @media (max-width: #{$md2+px}) {
    max-width: 750px;
  }
  @media (max-width: #{$md3+px}) {
    max-width: none;
    padding: 0 10px;
  }
}


.card {
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;


  &:hover, &:focus {
    translate: 0 -5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
  }
}

.tags {
  background: #fff80099;
  border-radius: 5px;
  display: inline-flex;
  font-size: 1.25rem !important;
}

span {
  cursor: default;
}

